<!DOCTYPE html>
<html>
  <head>
    <title>admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="leftcolumn"><%- include('./menu'); -%> </div>
    <div class="rightcolumn">
      <h1>Main page here</h1>
    </div>
  </body>
</html>
