body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*
.leftcolumn {
  width: 25%;
  float: left;
  overflow: auto;
}

.rightcolumn {
  width: 75%;
  overflow: auto;
}
*/